/* PopoverOnClick.css */

/* Customize the appearance of the tooltip */
/* .tooltip {
  background-color: white !important;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
} */
